<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="C:\Users\khaled\Downloads\Areeb">
        <!-- <parameter name="browser" value="firefox"></parameter>-->
        <classes>
            <class name="org.example.Runner"></class>
        </classes>

    </test>
</suite>